.error-message {
    margin-top: 5px;
    margin-left: 0px;
}
.mr-signin-form a.add-more {
    background: #F29F9F;
    width: 28px;
    height: 28px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    margin-bottom: 8px;
    line-height: 28px;
}
