<div class="mr-sidebar">
    <ul class="m-0 p-0">
      <!-- <li>
        <a href="javascript:void(0)">Profile</a>
      </li> -->
      <li>
        <a class="pointer" (click)="comingSoon()">Settings</a>
      </li>
      <li>
        <a routerLink="/meeting-list" routerLinkActive="active" >Meetings</a>
      </li>
      <li>
        <a routerLink="/schedule-meeting" routerLinkActive="active">Schedule Meeting</a>
      </li>
      <li>
        <a routerLink="/recordings" >Recordings</a>
      </li>
    
      <li>
        <a class="pointer" (click)="logout();">Logout</a>
      </li>
    </ul>
 </div>